{
  "extends": ["stylelint-config-styled-components", "@indriver/stylelint-config", "@linaria/stylelint"],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  }
}
